.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100vw;
	height: 100vh;
	z-index: 300;

	.item-detail-sidecart {
		background-color: #fff;
		padding: 1rem;
		position: fixed;
		top: 0;
		right: 0;
		width: 25vw;
		height: 100vh;
		z-index: 10000;

		@media (max-width: 768px) {
			width: 65vw;
		}

		.empty-sidecart {
			display: flex;
			flex-direction: column;
			align-items: center;

			h1 {
				padding: 0 1rem;
				margin-bottom: 3rem;
			}
		}

		.item-sidecart__title {
			width: 100%;
			height: 2rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1rem;

			h3 {
				margin-bottom: 0;
			}

			.btn-cerrar-sidecart {
				&:hover {
					color: #64ee85;
					border-color: #64ee85;
				}
			}
		}

		.item-detail-sidecart__container {
			max-height: calc(100vh - 64px - 2rem - 10rem);
			overflow-y: scroll;

			.item-detail-sidecart__items {
				display: flex;
				flex-wrap: wrap;
				padding: 1rem;

				article {
					width: 70%;
					padding-left: 0.5rem;
				}
			}
		}

		.total-sidecart {
			position: fixed;
			bottom: 0;
			width: 23vw;
			height: 10rem;
			background-color: #fff;
			z-index: 200;

			.total {
				width: 100%;
				font-size: 1.2rem;
			}

			.total-btns {
				display: flex;
				justify-content: space-around;
			}
		}
	}
}
