.img-banner {
	width: 100vw;
	height: auto;
}
.item-list-container {
	display: flex;
	flex-direction: column;

	.title {
		width: 100%;
		margin: 2rem auto;
		text-align: center;
		position: relative;

		h2 {
			position: relative;
			color: rgb(0, 0, 0);
			letter-spacing: 0.1rem;
			font-weight: 500;
			font-size: 3.5rem;
			margin: auto;
			padding: 0;

			@media (max-width: 768px) {
				font-size: calc(2rem + 5vw);
				letter-spacing: 1vw;
			}
		}

		span {
			display: block;
			color: rgba(0, 0, 0, 0.1);
			position: absolute;
			top: -12px;
			letter-spacing: 1.5rem;
			font-weight: 500;
			font-size: 5rem;
			text-transform: uppercase;
			margin-top: -15px;
			width: 100%;
		}
	}

	.products {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 3vw;
		grid-auto-rows: minmax(100px, auto);
		justify-items: center;
		width: 80%;
		margin: 1rem auto;

		@media (max-width: 992px) {
			grid-gap: 2vw;
		}

		@media (max-width: 768px) {
			display: grid;
			grid-template-columns: 1fr;
		}

		.ant-card-meta-description {
			font-size: 1rem;
			color: #0f0f0f;
		}
	}
}
