* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.loaderContainer {
	position: relative;
	width: 100vw;
	height: calc(100vh - 63px);

	.point {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 10px;
		height: 10px;
		background-color: #fdc145;
		border: solid 4px #fdc145;
		border-radius: 50%;
	}
}
