.ant-layout-header {
  background-color: #FFFFFF;
  border-bottom: solid 2px #F0F0F0;
  box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);;

  .logo {
    float: left;
    height: 9vh;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
}